<?xml version="1.0" encoding="UTF-8"?>
<!doctype html>
<html ng-app="HojeEhDiaDeRuaApp">
  <head>
      <title>Hoje é Dia de Rua</title>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="res/style/diaderua.css" />
  </head>
  <body ng-controller="mainController" ng-init="init()">
    <div>
      <h1>{{title}}</h1>
      <h2><a href="estatisticas.html">Estatísticas</a></h2>
      <div id="corpo">
        <calendario dia="dia" mes="mes" />
        <localidades cidades="{{localidades}}" />
      </div>
    </div>
      <!-- vendors:js -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ngStorage/0.3.10/ngStorage.min.js"></script>
    <!-- endinject -->
    <!-- app:js -->
    <script src="res/script/app.js"></script>
    <script src="res/script/main.js"></script>
    <script src="res/script/filters.js"></script>
    <script src="res/script/directives.js"></script>
    <script src="res/script/calendario.js"></script>
    <script src="res/script/localidades.js"></script>
    <script src="res/script/localidade.js"></script>
    <!-- endinject -->
  </body>
</html>
