<div>
  <a href="#" ng-click="toggleDropDown()">
    <img src="res/img/share.png" />
  </a>
  
  <div ng-show="dropDownVisible" class="dropdown-content">
    <a href="#" ng-click="share('facebook')">
      <img src="res/img/facebook.png" />
      Facebook
    </a>
    <a href="#" ng-click="share('twitter')">
      <img src="res/img/twitter.png" />
      Twitter
    </a>
    <a href="#" ng-click="share('googleplus')">
      <img src="res/img/googleplus.png">
      Google+
    </a>
  </div>
</div>