@font-face {
	font-family: 'Highway Gothic';
	src: url('HWYGOTH.TTF');
}

body {
	font-family: 'Highway Gothic', 'Sans';
	background-image: url('../img/asphalt.jpg');
	color: #fff;
	font-size: 20pt;
	text-align: center;
}

h1 {
	font-size: 70pt;
	margin: 40px 0;
}

a {
	color: #fff;
}

#corpo {
	border-bottom: 10px solid #faaa00;
}

#calendario {
	font-size: 35pt;
	background-color: #007a53;
	width: 400px;
	margin: 0 auto;
	padding: 5px;
}

#calendario p {
	border-left: 5px solid white;
	border-right: 5px solid white;
	margin: 0;
}

#calendario p:first-child {
	border-top: 5px solid white;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

#calendario p:last-child {
	border-top: 5px solid white;
	border-bottom: 5px solid white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#cidade p {
	width: 700px;
	font-size: 30pt;
	padding: 5px;
	margin: 20px auto;
	background-color: #00306a;
}

#cidade span {
	display: block;
	border: 5px solid white;
	border-radius: 10px;
	border-right: 5px solid white;
	margin: 0;
	padding: 5px;
}

#rodape {
	border-top: 10px solid #faaa00;
	margin-top: 10px;
}

#rodape h3 {
	margin: 5px 0;
	font-size: 20pt

}

#rodape p {
	margin: 5px 0;
	font-size: 15pt
}

.data {
  font-size: 32px;
  font-family: sans-serif;
  font-weight: bold;
}

.combo {
  background-color: #fff;
  border-radius: 5px;
}

.dropdown-content {
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: sans;
    font-size: 20px;
    vertical-align: middle;
}
